#upload_container{
	padding:3px;
}

#upload_container.start-loading{
	background: url(../images/msu_loading.png) no-repeat 5px 5px;
}

#upload_select{
	background: url(../images/msu_upload_button.png) no-repeat 0;
	width:20px;
	height:20px;
}

#upload_select:hover{
   -moz-opacity: 0.7; 
   opacity: 0.7; 
   	cursor: hand;
	 /*for ff*/
	 cursor:pointer;
}

#upload_div{
  padding:0px 0px;
  width:99.7%;
  background:#657D92;
  border: 1px solid #AAAAAA;
  margin: 2px 20px 2px 0px;
} 

#upload_drop{
  margin:3px;
  padding:2px;
  border:1px dashed #ddd;
  text-align:center;
}

.drop_text{
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  color: #fff;
  height:15px;
}

.drop_over{
  background:#ccc;	
  padding:30px;
  border: 3px solid #AAAAAA;
}

#upload_list {
	padding: 0;
	list-style:  none none;
	margin: 0;
}

#upload_list li:hover
{ 
	/*border: 1px solid #B0C4DE;*/	
}

#upload_list .file{
	line-height: 2em;
	box-shadow: 0 -45px 62px -62px rgba(0, 0, 0, 0.35) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
	background:#DEE9E9;
	
	padding: 1px 0px 1px 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
}

#upload_list .yellow{
	background: #F9CDAD;
}

#upload_list .red{
	background: #F9CDAD;
}

#upload_list .green{
	background: #A8DBA8;
}

#upload_list .file .file-type{
  padding:1px 10px;
	background: url(../images/msu_document-globe.png) no-repeat 0 0;
}

#upload_list .file .picture {
  background: url(../images/msu_document-image.png) no-repeat 0 0;
}

#upload_list .file .film {
  background: url(../images/msu_document-film.png) no-repeat 0 0;
}

#upload_list .file .pdf {
  background: url(../images/msu_document-pdf.png) no-repeat 0 0;
}

#upload_list .file .document {
  background: url(../images/msu_document.png) no-repeat 0 0;
}

#upload_list .file .ok {
  background: url(../images/msu_tick.png) no-repeat 0 0;
}

#upload_list .file .error {
  background: url(../images/msu_error.png) no-repeat 0 0;
}

#upload_list .file .file-title {
  font-weight: bold;
  margin-left: 5px;
}

#upload_list .file .title_over {
  border:1px solid #ddd;
  padding:2px 3px;
  background-color: #fbfbfb;
}

#upload_list .file .file-size {
	color: #666;
}

#upload_list .file .file-progress{
  width:150px;
  height:10px;
  display: inline;
}

.ui-progressbar-value.ui-widget-header{
	background: url(../images/msu_progress_stripe.png) repeat-x 0 0;	
}

.ui-progressbar-value.ui-widget-content{
	background:none;
}

.ui-progressbar-value{	

 border-radius: 10px;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 -khtml-border-radius:10px;
 border: 1px solid #ccc;
}

#upload_list .file .file-progress-bar{
 
 background:none;
 display: inline;
 width:150px;
 height:10px;
 /*
 position: absolute; 
 margin-top:8px;
 */
 position:absolute;
 margin-top:8px;

 border-radius: 10px;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 -khtml-border-radius:10px;

 border: 1px solid #ccc;
 
}

#upload_list .file .file-progress-state{
 text-align:center;
 font-size: 75%;
 width:150px;
 position:absolute;
 margin-top: 1px;

}

#upload_list .file .file-cancel {
	background: url(../images/msu_close.png) no-repeat 0 0;
	margin-left:5px;
	margin-right:5px;
	padding:3px 10px;
	cursor: hand;
	cursor:pointer; /*for ff*/
}

#upload_list .file .file-cancel:hover{
   -moz-opacity: 0.7; 
   opacity: 0.7; 
}

#upload_list .file .file-loading {
	background: url(../images/msu_loading.png) no-repeat 0 0;
	margin: 0px 5px;
	padding: 1px 8px;
}

#upload_list .file .file-warning {
  color: #514721;
  /*display: block;*/
  font-size: 80%;
  padding:2px 5px;
  font-style:italic;
}

#upload_list .file .small_warn{
  background: url(../images/msu_error-small.png) no-repeat 0;
  padding: 1px;
  padding-left: 15px;
  font-size: 95%; 
  overflow:hidden; 
  width:500px;
  background-color: #fff6bf;
}

.neu{
  display:block ;
  /*border:1px solid red;*/
}
.sel{
  margin:2px 5px 0 5px;
}


a.hover {
	color: red;
}


#upload_list .file span,
#upload_list .file a {
	padding: 0 4px;
}

#upload_list .file .input_change {
  margin:0px 10px;
  display: inline;
}

#upload_list .file .file-size {
	color: #666;
}
 
#upload_list .file .file-error {
	color: #8a1f11;
}

.check_index{
  float:right;
  margin-top:7px;
}

.check_span{
  float:right;
  color:#c0c0c0;
}

#gallery_insert{
	margin-left: 5px;
	border-left:1px solid #ccc;
	padding-left: 5px;
}

#upload_div a{
	cursor: hand;
	cursor:pointer;
}

#upload_div{
	background: #83AF9B;
	background: #657D92;
	box-shadow: 0 -45px 62px -62px rgba(0, 0, 0, 0.35) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
}

#upload_bottom{
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    padding:10px;
    height:22px;
}

#upload_bottom a{
	color: white;
	font-weight: bold;
}

#upload_bottom #upload_files{
	padding:3px 10px 3px 25px;
	background: url(../images/msu_upload_icon.png) no-repeat 0 0;
	height:12px;
}
